<%- include('header') %>

<h2>Hi Friendsss....</h2>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil soluta aperiam
  cum corrupti, culpa corporis obcaecati sed eveniet beatae vitae. Reiciendis,
  doloremque quos! Nobis aperiam distinctio id perferendis eius molestiae cumque
  ipsum deserunt fuga cupiditate temporibus sit dolore nemo facilis illum,
  praesentium in. Temporibus possimus est, ex ab voluptate iusto velit,
  necessitatibus esse, libero facere architecto.
</p>

<%- include('footer') %>
